In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
data=pd.read_csv("cars.csv")

In [3]:
data.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
data.isnull().sum()

model    0
mpg      0
cyl      0
disp     0
hp       0
drat     0
wt       0
qsec     0
vs       0
am       0
gear     0
carb     0
dtype: int64

In [6]:
data.shape

(32, 12)

In [8]:
data1=data.iloc[:,1:]
data1.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [14]:
y =  data.am
X =  data.loc[:,('mpg','hp','wt')]

In [15]:
X.head()

    mpg   hp     wt
0  21.0  110  2.620
1  21.0  110  2.875
2  22.8   93  2.320
3  21.4  110  3.215
4  18.7  175  3.440

In [16]:
y.head()

0    1
1    1
2    1
3    0
4    0
Name: am, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.20, random_state = 10)

In [20]:
from sklearn.neighbors import KNeighborsClassifier

In [32]:
model=KNeighborsClassifier(n_neighbors=5)

In [33]:
model.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [34]:
predict=model.predict(X_test)

In [35]:
predict

array([1, 1, 1, 1, 1, 0, 0], dtype=int64)

In [36]:
y_test

20    0
7     0
5     0
2     1
3     0
21    0
13    0
Name: am, dtype: int64

In [37]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [38]:
accuracy_score(y_test,predict)

0.42857142857142855

In [39]:
confusion_matrix(y_test,predict)

array([[2, 4],
       [0, 1]], dtype=int64)